body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-75deg, #ad1457, #c62828, #c62828, #ef6c00);
    background-size: 400% 400%;
    animation: bg 60s ease infinite;
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
    color: white;
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    font-family: 'KFGQPC HAFS Uthmanic Script', sans-serif;
}

.quest-box {
    background-color: #212121;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}